@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}







/*finish*/



.section-title {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}
img {
    display: block;
    will-change: 100%;
}
.wrap {
    width: 80%;
    margin: 0 auto 50px;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}





header {
    height: 70px;
    background: #000;
}
.header-logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 35px;
    color: #f2f2f2;
    line-height: 70px;
}
.header-nav li {
    display: inline-block;
    margin-right: 35px;
    font-size: 16px;
}
.header-nav a {
    color: #f2f2f2;
    text-decoration: none;
}


#eyecatch {
    height: 600px;
    background: url("../img/dan-otis-OYFHT4X5isg-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
#eyecatch h1 {
    position: absolute;
    top: 55%;
    left: 10%;
    font-size: 60px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #cccccc;
    line-height: 1;
}
.news {
    background-color: #cccccc;
    height: 80px;
    width: 550px;
    margin-right: 0;
    position: absolute;
    right: auto;
    bottom: 0;
}
.news-box {
    background-color: #000;
    height: 80px;
    width: 150px;
    margin-right: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.box-name {
    font-size: small;
    color: #cccccc;
    margin-left: 60px;
    margin-top: 30px;
}
.news-frame {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#about {
    background-color: #000;
    width: 100%;
    height: 350px;
}
.about-head {
    color: #cccccc;
    position: relative;
    top: 100px;
    font-size: larger;
    left: 300px;
}
.about-explain {
    color: #cccccc;
    width: 60%;
    position: relative;
    top: -130px;
    left: 300px;    
}
.orange {
    width: 30%;
    height: auto;
    position: relative;
    top: 90px;
    left: 800px;
}
.limk {
    box-sizing: border-box;
    padding: 5px 20px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    background-color: #cccccc;
    position: relative;
    top: -90px;
    left: 300px;
}
#service {
    background-color:lightgray;
    width: 100%;
    height: 1100px;
    position: relative;
    margin-top: 50px;
}
h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.first-card,.second-card {
    position: absolute;
    background-color: aliceblue;
    width: 35%;
    height: 25%;
}
.first-card {
    position: absolute; 
    top: 180px;
    left: 300px;
}
.second-card {
    position: absolute;
    top: 760px;
    left: 550px;
}
.first-photo,.second-photo {
    display: block;
    width: 50%;
    height: auto;
}
.first-photo {
    margin-left: 50%;
    margin-top: 3%;
}
.second-photo {
    margin-top: 100px;
    
}
.card-title {
   position: relative; 
   top: 10%;
   margin-left: 50px;
}
.card-contents {
    position: relative;
    top: 20%;
    margin-top: 10px;
    width:80%;
    margin-left: 50px;
}
.link-service {
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: #000 1px solid;
    position: absolute;
    top: 70%;
    left: 50%;
}

.yoko {
    display: flex;
    justify-content: end;
    position: relative;
}
.photo-cat {
    margin-top: 50px;
    margin-right: 1%;
    width:99%;
}
.photo-black {
    margin-top: 50px;
    margin-left: 1%;
    width: 99%;
}
.first-mini-title {
    position: absolute;
    top: 200px;
    color: #f2f2f2;
    left: 200px;
    font-size: 50px;
}
.second-mini-title {
    position: absolute;
    top: 200px;
    color: #f2f2f2;
    right: 250px;
    font-size: 50px;
}
.first-mini-about {
    position: absolute;
    top: 250px;
    color: #f2f2f2;
    left: 230px;
    font-size: 40px;
}
.second-mini-about {
    position: absolute;
    top: 250px;
    color: #f2f2f2;
    right: 250px;
    font-size: 40px;
}
.que {
    background-color: #000;
    margin: 50px 30px;
    height: 100px;
    display: flex;
}
.faq {
    color: #f2f2f2;
    font-size: 40px;
    padding: 30px;
}
.mini-faq {
    color: #f2f2f2;
    font-size: medium;
    padding: 40px 450px;
}
#contact {
    background: url(../img/akin-cakiner-nkUFXi0JSX8-unsplash.jpg) ;
    background-size: cover;
    height: auto;
    color: #f2f2f2;
    text-align: center;
}
.contact {
    font-size: 30px;   
}
.main {
    font-size: 50px;
    margin: 10px;
}
.sub {
    width: 80%;
    position: absolute;
    left: 10%;
}